[logging]
separate_logs = DEBUG
common_logs = ERROR

[logger1]
type = JSON
level = INFO
rotation = true
flatten = true

[db_conf]
host = localhost
port = 5432
database = db_connector
user = db_connector
password = db_connector

[db_conf_eva]
host = localhost
database = eva
user = dispatcher
password = password

[db_pool_conf]
min_size = 10
max_size = 20